// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.search-result tr{
    :hover {
        background-color: lightgray;
    }
}

.search-result a {
    text-decoration: none;
    color: black;
}

.search-result a:hover {
    color: gray;
}


.articles table a i:hover{
    transform: scale(1.5);
}

.articles a.article-title {
    text-decoration: none;
    color: black;
}

.articles a.article-title:hover{
    color: gray;
}