// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.search-result tr{
    :hover {
        background-color: lightgray;
    }
}

.search-result a {
    text-decoration: none;
    color: black;
}

.search-result a:hover {
    color: gray;
}


.articles table a i:hover{
    transform: scale(1.5);
}

.articles a.article-title {
    text-decoration: none;
    color: black;
}

.articles a.article-title:hover{
    color: gray;
}

@keyframes fadeOut{
    0%{
        opacity: 1;
        height: auto;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    80% {
        opacity: 1;
        height: auto;
        padding: 1rem;
        margin-bottom: 1rem;
    }
    
    99% {
        opacity: 0;
        height: auto;
        padding: 1rem;
        margin-bottom: 1rem;
    }
    
    100%{
        opacity: 0;
        height: 0;
        padding: 0;
        margin-bottom: 0;
    }
}

p.alert {
    animation-name: fadeOut;
    animation-duration: 3500ms;
    animation-fill-mode: forwards;
}